name: Build and Publish

on:
  push:
    branches: [ "main" ]

env:
  IS_PREVIEW: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -o artifacts
    - name: Upload artifacts
      uses: actions/upload-artifact@v3.1.0
      with:
        name: package
        path: artifacts

  publish:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Get artifacts
      uses: actions/download-artifact@v3.0.0
      with:
        name: package

    - name: Publish
      run: dotnet nuget push package --api-key {{ secrets.TEMPLATE_NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
